<h4 class="ui center aligned medium icon header">
  <i class="circular coffee icon inverted yellow"></i>
  Tom's Chat
</h4>
<div class="ui two column stackable grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <%# <h4 class="ui header">Followers Activity</h4> %>
          <div class="event">
            <div class="content">
              <div class="summary">
                <em>Elliot Fu</em>: Test message
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <em>Stevie Feliciano</em>: Test message
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <em>Helen Troy</em>: Test message
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fluid icon input">
              <input type="text" name="" id="" placeholder="enter message">
              <i class="border inverted orange edit icon"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid raised card">
      <div class="content">
        <div class="event">
          <div class="ui inverted small vertical menu">
            <a class="active item">
              Home
            </a>
            <a class="item">
              Messages
            </a>
            <a class="item">
              Friends
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
